<div class="container">
    <button class="btn-large btn--tertiary" href="#">Tertiary button</button>
    <button disabled class="btn-large btn--tertiary" href="#">Tertiary disabled button</button>
    <button class="btn-icon btn--tertiary" href="#"><i class="material-icons">headset</i></button>
</div>
<div class="container">
    <button class="btn-mid btn--tertiary" href="#">Tertiary button</button>
    <button disabled class="btn-mid btn--tertiary" href="#">Tertiary disabled button</button>
</div>
<div class="container">
    <button class="btn-small btn--tertiary" href="#">Tertiary button</button>
    <button disabled class="btn-small btn--tertiary" href="#">Tertiary disabled button</button>
</div>