<div class="container">
    <button class="btn-large btn--destructive" href="#">Destructive button</button>
    <button disabled class="btn-large btn--destructive" href="#">Destructive disabled button</button>
    <button class="btn-icon btn--destructive" href="#"><i class="material-icons">headset</i></button>
</div>
<div class="container">
    <button class="btn-mid btn--destructive" href="#">Destructive button</button>
    <button disabled class="btn-mid btn--destructive" href="#">Destructive disabled button</button>
</div>
<div class="container">
    <button class="btn-small btn--destructive" href="#">Destructive button</button>
    <button disabled class="btn-small btn--destructive" href="#">Destructive disabled button</button>
</div>