.container {
    display: block
}

.label {
    font-family: 'Open Sans';
    color: #333;
    font-size: 12px;
    letter-spacing: 1px;
    margin-right: 16px;
}

.btn-large {
    height: 40px;
    min-width: 80px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 8px 16px 0;
    transition: 0.4s;
}

.btn-icon {
    height: 40px;
    width: 40px;
    margin: 0 8px 16px 0;
}
    
    .btn--primary {
        font-size: 14px;
        background-color: #0076A8;
        color: white;
        text-decoration: none;
        border-radius: 2px;
        border: 0;
    }

    .btn-large:active {
        opacity: .9;
    }

    .btn--primary:hover:not([disabled]) {
        background-color: #005275;
        cursor: pointer;
    }

    .btn--primary:disabled {
        opacity: .35;
        cursor: auto;
    }

    .btn--secondary {
        font-size: 14px;
        background-color: white;
        color: #0076A8;
        text-decoration: none;
        border-radius: 2px;
        border: 1px solid #0076A8;
    }
    .btn--secondary:hover:not([disabled]) {
        border: 1px solid #005275;
        color: #005275;
        background-color: #E8F6FC;
        cursor: pointer;
    }
    .btn--secondary:disabled {
        opacity: .35;
        cursor: auto;
    }
    .btn--tertiary {
        font-size: 14px;
        background-color: #F0F3F4;
        color: #070809;
        text-decoration: none;
        border-radius: 2px;
        border: none;
    }
    .btn--tertiary:hover:not([disabled]) {
        background-color: #D3DBDE;
        cursor: pointer;
    }
    .btn--tertiary:disabled {
        opacity: .35;
        cursor: auto;
    }

.btn-mid {
    height: 32px;
    min-width: 64px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 8px 16px 0;
    transition: 0.4s;
}

.btn-small {
    font-size: 12px;
    height: 24px;
    min-width: 48px;
    font-family: 'Open Sans';
    font-weight: 600;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0 8px 16px 0;
    transition: 0.4s;
}