<div class="container">
    <button class="btn-large btn--secondary" href="#">Secondary button</button>
    <button disabled class="btn-large btn--secondary" href="#">Secondary disabled button</button>
    <button class="btn-icon btn--secondary" href="#"><i class="material-icons">headset</i></button>
</div>
<div class="container">
    <button class="btn-large btn--secondary2" href="#">Secondary button</button>
    <button disabled class="btn-large btn--secondary2" href="#">Secondary disabled button</button>
    <button class="btn-icon btn--secondary2" href="#"><i class="material-icons">headset</i></button>
</div>
<div class="container">
    <button class="btn-mid btn--secondary" href="#">Secondary button</button>
    <button disabled class="btn-mid btn--secondary" href="#">Secondary disabled button</button>
</div>
<div class="container">
    <button class="btn-small btn--secondary" href="#">Secondary button</button>
    <button disabled class="btn-small btn--secondary" href="#">Secondary disabled button</button>
</div>