<div class="container">
    <button class="btn-large btn--primary" href="#">Primary button</button>
    <button disabled class="btn-large btn--primary" href="#">Primary disabled button</button>
    <button class="btn-icon btn--primary" href="#"><i class="material-icons">headset</i></button>
</div>

<div class="container">
    <button class="btn-mid btn--primary" href="#">Primary button</button>
    <button disabled class="btn-mid btn--primary" href="#">Primary disabled button</button>
</div>

<div class="container">
    <button class="btn-small btn--primary" href="#">Primary button</button>
    <button disabled class="btn-small btn--primary" href="#">Primary disabled button</button>
</div>