<form>
    <label for="names">First and last name</label>
    <input type="text" id="fname" name="names" placeholder="Type here...">

    <label for="email">Email address</label>
    <input disabled type="text" id="fname" name="email" placeholder="Type here...">
    
    <label for="message">Your message</label>
    <input type="text" id="message" name="message" placeholder="Type here...">
    <br>
    
    <input type="radio" id="radio">
    <label for="radio">This is a radio button</label>
    
    <br> 
    <input class="btn-large btn--primary" type="submit" value="Submit this mf">
</form>
